html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #131313;
}

header{
    background-color: rgb(127, 20, 20);
    color: white;
    padding: 3rem 2rem;
}

header img {
  position: relative;
  float: right ;
  max-width: 100px;
  min-width: none;
  /*right: -1080px;
  bottom: 130px;*/
  background-color: rgb(127, 20, 20) ;
  
}
  

header h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 7px black;  /*se hace mas intenso si lo vuelvo a copiar*/
}

header h3 {
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 7px black;  /*se hace mas intenso si lo vuelvo a copiar*/
}

.container {
    width: 500px;
    margin: 0 auto;

}


section article{
    transition: box-shadow 0.3s ease;
    background-color: rgb(156, 26, 26);
    margin: 1rem 0;
    border-radius: 0.5rem ;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article h2{
    margin: 1rem;
}

section article p {
    margin: 1rem;
}

section article:hover{
    box-shadow: 0.0.1rem 0.4rem rgb(255, 255, 255);
}

footer{
    background-color: rgb(127, 20, 20);
    padding: 3rem;
    color: #fff;
    
}

footer section{
    float: right;
}

footer a.instagram-link {
     float:right;
}

footer a.gmail-link {
  position: relative;
  float: right;

  /*right: -950px;
  bottom: 0px;*/
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}


  